* {
   box-sizing: border-box; 
}
body {
    font-family: Arial, sans-serif;
    background-color: #262629;
    margin: 0;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 40px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: vertical;
}

.image-upload {
    margin-bottom: 15px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    width: 49%;
}

button:hover {
    background-color: #0056b3;
}

.footer {
    text-align: center;
    margin-top: 20px;
}


.back {
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    width: 70px;
  }