/* reset chung */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


/* .container chung  */
.container {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* header */

.header {
    background:linear-gradient(to right, #2c3e50, #4b4b4b);
    color:  white;
    position: fixed;
    padding: 1rem 0;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.logo {
    display: flex;
}

.logo-back {
    background-color: transparent; /* Không có nền */
    color: #ffffff; /* Màu đen cho mũi tên */
    border: none; /* Không có viền */
    font-size: 40px; /* Kích thước mũi tên */
    cursor: pointer;
    padding: 0; /* Loại bỏ khoảng cách bên trong */
    display: inline-flex;
    align-items: center;
    height: 100%;
}

.logo-back:hover {
    color: #f10e0e;
}

.logo-name {
    font-size: 40px;
    font-weight: bold;
    margin-left: 10px;
}

.nav {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}

.nav a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s, border-bottom 0.3s;
    margin: 0 10px;
    position: relative;
}

.nav a::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
    background: #ffdd57;
    transition: width 0.3s;
  }
  
  .nav a:hover {
    color: #ffdd57;
  }
  
  .nav a:hover::after {
    width: 100%;
  }